nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  box-shadow: 0 0 20px #4dffff;
  font-size: 2rem;
}

nav > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav > a {
  color: #4dffff;

}

.row-detail {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.row-detail > a {
  color: #4dffff;
  text-decoration: none;
  padding: 2rem;
  border: 2px solid #4dffff;

}

a {
  text-decoration: none;
  color: #4dffff;
}

.neon {
  filter: brightness(150%) contrast(150%);
}

.neon {
  animation: neon 1s ease-in-out infinite;
}
@keyframes neon {
  0% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177, 0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177;
  }
  100% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177, 0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177;
  }
}